@model IEnumerable<socialapp.Models.PostModel>

@{
    ViewData["Title"] = "Tablica";
}

<h1>Twoja tablica</h1>

<p>
    <a asp-action="Create">Nowy post</a>
</p>
@if (Model != null) {
    @foreach (var item in Model)
    {
<div class="card m-2 p-2">
    <p class="card-title">@Html.DisplayFor(modelItem => item.Content)</p>
    <p class="font-italic">Ostatnia modyfikacja: @Html.DisplayFor(modelItem => item.DateTime)</p>
    <div class="flex-row">
        @Html.ActionLink("Edytuj", "Edit", new { id = item.PostId })
        @Html.ActionLink("Usuń", "Delete", new { id = item.PostId })
    </div>
</div>
    }
}